@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=VT323&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
    user-select: none;
    transition: 0.4s ease;
}
:root{
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}
body{
    background-color: #1f1f1f;
    max-width: 1360px;
    margin: auto;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    margin: 0 20px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}


/*Grid Style*/
.grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: white;
}
.navLogo{
    font-weight: bolder;
}
.cartIcon{
    background-color: #bfbfbf;
    color: black;
    border: none;
    padding: 5px 30px;
    border-radius: 20px;
}

.cartIcon:hover{
    background-color: #ffffff;
}


/*ErrorPage Styling*/
.errorSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
}
.errorText{
    font-size: 6em;
    color: #bfbfbf;
    border: none;
    font-weight: bolder;
    margin-bottom: 10px;
}
.errorHeading{
    font-size: 3em;
    color: white;
    border: none;
    font-weight: bolder;
}
.errorMessage{
    font-size: 1.1em;
    color: #bfbfbf;
}

/*Cover Section Styling*/
.cover {
    background-image: url(https://wallpapercave.com/wp/wp4162204.jpg);
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    position: relative;
}
.coverText {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 999;
}
.gameTitle{
    font-size: 3em;
    font-weight: bold;
}
.gameDescription{
    font-size: 0.9em;
}

/*Styling GameCard*/
.gameCard{
    color: #bfbfbf;
    padding: 10px;
    cursor: pointer;
}
.gameCard:hover{
    background-color: #111111;
}
.gameCard img{
    height: 350px;
    width: 100%;
    object-fit: fill;
}
.gameMessage{
    color: #808080;
    font-size: 0.8em;
}
.gameCardHeading{
    padding: 10px;
    color: #bfbfbf;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

/*Background animation*/
@keyframes background-animation{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
/*Styling unreal engine card*/
.engine{
    display: flex;
    cursor: pointer;
    margin: 100px 0 0 0;
}

.engine:last-of-type{
    margin-top: 40px;
}

.engineLeft{
    width: 50%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
.engineLeft:hover{
    background-color: #0a0a0a;
}
.engineVersion{
    font-size: 7em;
    font-weight: bolder;
}
.engineName{
    font-size: 2em;
}
.engineBackgroundAnimation{
    color: transparent;
    background-image: var(--gradient);
    background-clip: text;
    background-size: 400%;
    animation: background-animation 5s infinite alternate;
}
.engineRight{
    width: 50%;
    padding: 20px 10px;
    background-color: #111111;
}
.engineRight:hover{
    background-color:#0d0d0d;
}
.engineHeading{
    color: #bfbfbf;
    font-size: 1.5em;
}
.engineDescription{
    color: #bfbfbf;
    padding: 10px 0;
    font-size: 0.9em;
}

/*Styling Footer*/
footer {
    background-color: black;
    margin-top: 100px;
    padding: 40px 20px;
    font-size: 0.9em;
    color: white;
}
footer a{
    color: #bfbfbf;
}
footer a:hover{
    color:white;
}
.footerLink{
    padding: 20px 10px;
}
.footerLink:last-child{
    padding-bottom: 50px;
}
.footerLinks{
    display: flex;
    justify-content: space-between;
}
.footerLinks ul{
    flex-direction: column;
}
footer ul li{
    margin: 0;
    padding: 2px 0;
}


.copyrightLinks ul li:first-child{
    margin: 0;
}
.copyrightLinks ul li{
    margin: 0 20px;
}

.informationFooter{
    max-width: 50%;
}

/*----------------------------*/
/*GameContentPage Styling*/

.contentGameBackground{
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 700px;
}

.gameContent{
    display: flex;
    background-color: #111111;
    margin-top: 20px;
    padding: 10px 10px 5px 10px;
}
.gameContentImage{
    width: 30%;
}
.gameContentImage img{
    width: 100%;
    height: 500px;
}
.gameContentText{
    width: 70%;
    margin-left: 20px;
}
.contentGameTitle{
    font-size: 3em;
    color: white;
}
.contentGameDescription{
    color: #bfbfbf;
}
.contentGameButton{
    padding: 10px 40px;
    font-size: 1.1em;
    margin-top: 30px;
    background: black;
    border: none;
    color: white;
    cursor: pointer;
}
.contentGameButton:hover{
    background: #0d0d0d;
}

/*System Requirements Styling*/
.videoSection {
    margin-top: 20px;
    display: flex;
    background-color: #111111;
    color: white;
    padding: 10px 10px 5px 10px;
}
.videoClip{
    width: 50%;
}
.videoClip video{
    width: 100%;
    height: 100%;
}
.videoText{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoText p {
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
    color: transparent;
    background-image: var(--gradient);
    background-clip: text;
    background-size: 400%;
    animation: background-animation 5s infinite alternate;
}

/*System Requirements Styling*/
.systemRequirementButton{
    background-color: #111111;
    color: #bfbfbf;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2em;
}

.active, .systemRequirementButton:hover{
    background-color: #0d0d0d;
}
.systemRequirementButton:after{
    content: '\002B';
    color: #bfbfbf;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after{
    content: "\2212";
}
.panel{
    padding: 0 20px;
    background-color: #0d0d0d;
    max-height: 0;
    overflow: hidden;
}
.requirementHeading{
    color: #bfbfbf;
    margin-top: 10px;
}
.requirementContent:last-of-type{
    margin-bottom: 20px;
}
.requirementContent{
    color: white;
}


/*************************/
/*CartPage*/
/*CartSection styling*/
.emptyCartText{
    width: 100%;
    height: 60vh;
    font-size: 6em;
    color: #bfbfbf;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartSection{
    display: flex;
    width: 100%;
}

.cartTable{
    width: 70%;
    background: #111111;
    color: white;
}
.cartTable table{
    border-collapse: collapse;
    width: 100%;
}
.cartTable table tr th{
    color: #bfbfbf;
}
td, th {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #0d0d0d;
}
.removeItemButton{
    width: 10%;
    text-align: center;
    background-color: #6b1717;
    cursor: pointer;
}
.removeItemButton:hover{
    background-color: #921a1a;
}

.checkoutForm{
    background: #0d0d0d;
    width: 30%;
    color: #bfbfbf;
    padding: 10px;
}
.checkoutHeading{
    font-size: 1.5em;
    font-weight: bolder;
}
.formFlex{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.totalSection{
    font-size: 1.2em;
    font-weight: bolder;
}
.checkoutButton{
    width: 100%;
    padding: 20px;
    cursor: pointer;
    background-color: #111111;
    border: none;
    color: white;
}
.checkoutButton:hover{
    background-color: #1b1b1b;
}

