@page
@model GameContentModel
@{
    ViewData["Title"] = "Game";
}

<h1>Welcome to game content page</h1>
<h1>Your game id is @Model.GameID</h1>
<h1>Title is @Model.GameTitle</h1>
<h1>Description @Model.GameDescription</h1>
<h1>Price @Model.GamePrice</h1>