@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<section class="errorSection">
    <div class="errorText">
        Error
    </div>
    <div class="errorHeading">
        @Model.Heading
    </div>
    <div class="errorMessage">
        @Model.Message
    </div>
</section>

