@page
@model IndexModel
@{
    ViewData["Title"] = "Discover";
}

<section class="cover" id="cover">
    <div class="coverText">
        <span id="gameTitle" class="gameTitle"></span>
        <span id="gameDescription" class="gameDescription"></span>
    </div>
</section>

<!--Using the for loop to display all the game cards-->
@for(int y = 0; y < Model.gameCardsHeading.Length; y++)
{   
    //Get count of the elements in the games list, elements = 15
    int dbGamesCount = Model._dbGames.Count;

    //Get count of the elements in the heading list. elements = 3;
    int cardsHeadingLength = Model.gameCardsHeading.Length;

    //Displaying 5 elements per row, leftPointer indicates to the left hand side
    int leftPointer = (dbGamesCount/cardsHeadingLength) * y;
    //RightPointer will indicate end of the elements in the games list
    int rightPointer = (dbGamesCount / cardsHeadingLength) * y + 5;

    <div class="gamesSection">

        <!--Displaying heading-->
        <p class="gameCardHeading">@Model.gameCardsHeading[y]</p>
        <section class="pickedGames grid">

            @while(leftPointer < rightPointer){
                string imagePath = @Model._dbGames[leftPointer].ImagePath;
                <div class="gameCard">
                    <img class="gameCoverImage" src="@imagePath" alt="GameCover">
                    <p class="gameMessage">Base Game</p>
                    <p class="cardGameTitle">@Model._dbGames[leftPointer].Title</p>
                    <p class="gamePrice">CA$@Model._dbGames[leftPointer].Price</p>
                </div>

                //Increment the leftPointer to print the next element, and push loop towards its end
                leftPointer++;
            }
        </section>
    </div>
}

<section class="engine" id="unrealEngine" onclick="redirectToEngine(1)">
    <div class="engineLeft">
        <span id="unrealEngineVersion" class="engineVersion"></span>
        <p id="unrealEngineName" class="engineName"></p>
    </div>
    <div class="engineRight">
        <span id="unrealEngineHeading" class="engineHeading"></span>
        <p id="unrealEngineDescription" class="engineDescription"></p>
    </div>
</section>

<section class="engine" id="unityEngine" onclick="redirectToEngine(2)">
    <div class="engineLeft">
        <span id="unityEngineVersion" class="engineVersion"></span>
        <p id="unityEngineName" class="engineName"></p>
    </div>
    <div class="engineRight">
        <span id="unityEngineHeading" class="engineHeading"></span>
        <p id="unityEngineDescription" class="engineDescription"></p>
    </div>
</section>

